SHEETY_BASE_URL=your_sheety_url_here
SHEETY_TOKEN=your_sheety_token_here
SERP_API_KEY=your_serpapi_key_here
TG_CHAT_ID=your_telegram_chat_id_here
TG_BOT_TOKEN=your_telegram_bot_token_here
MY_EMAIL=email_sender_here
E_PASSWORD=app_password_gmail_here